H1 {
	color : red ; /* met la couleur en rouge */
	background-color : rgb(230, 230, 230); /*met l'arrière plan dans la couleur définie en rgb*/
	margin : 0px;
	padding : 20px;
	box-shadow : 10px 10px 10px grey; /* ajoute une ombre grise */
	font-size : 48px;
	font-family : IMPACT;
}

TD {
	border : 1px solid black;
	text-align : center;
	background-color : rgb(245,245,245);

}

.ligne1{
		font-weight : bold; /* met le texte en gras */
		border : 2px solid black;
}

.titre {
	color : black ; /* met la couleur en rouge */
	background-color : rgb(240, 240, 240); /*met l'arrière plan dans la couleur définie en rgb*/
	margin : 10px;
	padding : 5px;
	box-shadow : 10px 10px 10px grey; /* ajoute une ombre grise */
	font-size : 24px;
}

#imageISO{
	width : 200px;
	height : 200px;
	cursor : pointer;
}

#imageISO:hover{
	width : 600px;
	height : 600px;
}
