#ligne_texte{
	width : 300px;
	height : 150px;
	cursor : pointer;
	font-family : Comic Sans MS;
	font-size : 24px;
	color : blue;
	box-shadow : 10px 10px 10px grey;
}

#paragraphe{
	font-family : Comic Sans MS;
	font-size : 18px;
	color : blue;
}