H1 {
    font-size : 60px;
    color : red;
}

TD{
    border : 1px solid black;
    padding : 20px;
}

.titre{
    font-size : 30px;
    color: blue;
}

#p1{
    color : black;
}

#p2{
    color : green;
}

#p2{
    color : black;
}
